/* CSS declarations go here */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 40px;
  margin: 0;
  line-height: 1.8;
}

.jumbotron {
  background-color: #fff;
}

.dark {
  background-color: #2d2d30;
  color: #fff;
}

.box {
  padding: 80px 120px;
}

.box2 {
  padding: 0 120px 80px 120px;
}

.bg-1 {
  margin-bottom: 25px;
  margin-top: 25px;
}

h2 {
  margin: 30px 0;
}

.fc-event-container {
  padding: 5px;
}

.fc-event {
  padding: 5px 10px;
  border-color: #ddd;
  background: #fff;
}

.fc-event .fc-content {
  color: #444;
}

.eventTitle {
  margin: 0;
  color: orange;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  white-space: normal;
}

.fc-event p{
  font-size: 13px;
  margin: 0;
}

.request {
  margin: 0 0 20px 0;
  padding: 0;
}

.request p {
  margin: 0;
  padding: 0;
}

.green {
  color: green;
}

.maroon {
  color: maroon;
}

.purple {
  color: purple;
}

.yellow {
  color: #cc0;
}

.orange {
  color: orange;
}

.white {
  color: white;
}

.bold {
  font-weight: bold;
}

.keno {
  margin-top: 5px;
}

.plai {
  margin-left: 10px;
}

#tbl td {
  width: 100px;
}

#toTop {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(255, 0, 0);
  color: #fff;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 1;
}

#toTop span {
  line-height: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.zero {
  padding: 0;
  margin: 0;
}

.tabs-left > .active > a {
  border-style: solid;
  border-width: 0 0 0 3px;
  border-color: red;
  color: #000;
}

.log-in-button {
  margin: 10px 10px 2px 0;
  padding: 0;
}

.space {
  margin-right: 10px;
}

.avatar {
  padding: 1px;
}

.paddingTop {
  padding-top: 30px;
}

.message {
  list-style-type: none;
}

.messages {
  padding: 0;
  margin: 0;
}

p.bubble {
  padding: 5px;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 25px;
  background-color: #fff;
  border: 2px solid #666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

p.bubble:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: -6px;
  top: 6px;
  display: inline-block;
  background: #fff;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.down {
  margin-top: 20px;
}

.len {
  width: 90px;
}

.circle {
  border-radius: 50%;
}

.inside {
  background-color: #2d2d30;
  height: 250px;
  padding: 20px;
}

.oval {
  border-radius: 30px;
}

.navbar-brand {
  font-variant: small-caps;
}
